<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
    <img class="logo" src="/assets/logo.png">
      <a href> Cadmun Books </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</nav>



